@using Desafio_Backend.Services
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IRentalService RentalService

@{
    bool userIsAdmin = User.IsInRole("Admin");
    bool userIsDeliveryPerson = User.IsInRole("DeliveryPerson");
    bool userHasLicenseA = RentalService.DeliveryPersonHasLicense(User, CnhHelper.A);
    bool userCanAddRental = userIsDeliveryPerson && userHasLicenseA;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aluguel de Motos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Desafio_Backend.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Aluguel de Motos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">



                        @if (Context.GetRouteData()?.Values["page"]?.ToString() != "/Index")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                        }

                        @if (userIsAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Debug" asp-page="/Index">Debug</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/Index">Funções de Admin</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Cadastrar novo Admin</a>
                            </li>
                        }

                        @if (userCanAddRental)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Rental" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" asp-page="/Index">Nova Locação</a>
                            </li>
                        }

                        @if ((userIsDeliveryPerson && userHasLicenseA)|| userIsAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Rental" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" asp-page="/ListRentals">Ver Locações</a>
                            </li>
                        }


                        @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li> *@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()



            <div class="row">
                <div class="col-md-12 mt-3">
                    @if (!UserManager.Users.Any())
                    {
                        <div class="alert alert-danger" role="alert">
                            Não há ADMINs registrados! o primeiro cadastro feito será elevado a ADMIN
                        </div>
                    }
                </div>
            </div>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Fernando Silva
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/bootstrap-table.min.js"></script>
    <script src="~/js/bootstrap-table-pt-BR.js"></script>
    <script src="~/js/jquery.inputmask.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>